<div class="jumbotron-fluid">
  <div class="container">
    <h1>Bug Overflow</h1>
    <!--Red Eyed Tree Frog by Andy Morffew, cropped to fit from https://flickr.com/photos/66020093@N03/29537573807 -->
    <p>Ready to squash some bugs?</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>

  </div>
</div>
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
  <% @bugs.each do |bug| %>
    <div class="col-md-4">
      <h2><%=bug.title%></h2>
      <p><%=bug.description.truncate_words(30)%></p>
      <p>
        <%= link_to 'Read more &raquo;'.html_safe, bug, class: "btn btn-default"%>
      </p>
    </div>
  <% end %>
  </div>
  <hr>

  <footer>
    <p id="credit"><a href="https://flickr.com/photos/66020093@N03/29537573807">Background Photo - Red-Eyed Tree Frog by Andy Morffew</a></p>
    <p>&copy; 2018 Company, Inc.</p>
  </footer>
</div>